/*css reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,input,textarea,select{ margin:0;padding:0;}
body{ font:12px "微软雅黑","Microsoft YaHei",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{ text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
li{ list-style:none;}
img{ border:none 0; vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
input{ border: none; outline: none; -webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,0,0,0);}
@font-face {
 font-family: 'myFont';
 src: url('../font/shishangzhonghei.ttf')
}
html,body{ width:100%; height:100%; -webkit-overflow-scrolling : touch;}
img{ width: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.bg_b{ position:fixed; left:0px; top:0px; width:100%; height:100%;}
.wrap_con{ position: relative; z-index: 2;}

/*登录*/
.tit_login{ width: 88%; margin: 4rem auto;}
.con_login{ width: 76%; margin: 0 auto;}
.login_item{ width: 90%; padding: 10px 5%; display: flex; background: #fff; border-radius: 8px; margin-bottom: 1rem; align-items: center;}
.login_item img{ width: 20px; height: 25px;}
.login_item input{ display: block; height: 20px; line-height: 20px; text-indent: 10px; font-size: .9rem;}
.btn_login{ width: 100%; height: 44px; line-height: 44px; color: #fff; background: url(../img/btn_login.png) repeat-x; border-radius: 20px; margin-top: 2rem; font-size: 1.1rem;}

/*首页*/
.top_idx{ width: 92%; margin: 1rem auto .5rem; display: flex; justify-content: space-between; height: 2.8rem; align-items: center;}
.score_idx{ width: 25%; position: relative; height: 2.8rem; line-height: 2.8rem; margin-top: .6rem;}
.score_idx img{ position: absolute; left: 0; top: 0;}
.score_idx .score_t{ position: absolute; z-index: 2; font-size: 1.4rem; line-height: 2.2rem; color: #fff; left: 45%;}
#play_btn{ width: 2.8rem; height: 2.8rem;-webkit-tab-highlight-color: rgba(0,0,0,0);}    
#play_btn button{ display: inline-block; border: none; background: transparent; width: 0; height: 0; padding: 0;}
#play_btn audio{ width: 0px; height: 0px; overflow: hidden; visibility: hidden;}
#play_btn.play{ width: 2.8rem; height: 2.8rem; -webkit-animation: play 3s linear infinite; -moz-animation: play 3s linear infinite;  -ms-animation: play 3s linear infinite; animation: play 3s linear infinite; background: url(../img/bgm_open.png) no-repeat; background-size: cover;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
#play_btn.pause{ width: 2.8rem; height: 2.8rem; -webkit-animation: none; -moz-animation: none; -ms-animation: none; animation: none; background: url(../img/bgm_close.png) no-repeat; background-size: cover;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
@keyframes play {
	0% {
	    -webkit-transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes play {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}   
@-webkit-keyframes play {  
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes play {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.top_r_idx{ width: 92%; margin: 0 auto; display: flex; justify-content: flex-end;}
.icon_rule{ width: 2.8rem; height: 2.8rem; background: url(../img/icon_rule.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.tit_idx{ width: 72%; margin: -2.5rem auto 1rem;}
.txt_idx{ width: 300px; height: 37px; margin: 0 auto; text-align: center; background: url(../img/txt_idx.png) no-repeat; background-size: cover; text-indent: -9999px;}
.btn_idxBot{ display: flex; width: 30%; margin: 1rem auto;}
.btn_start{ width: 7rem; height: 7rem; background: url(../img/btn_start.png) no-repeat; background-size: cover; animation: btns 2s infinite; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
@keyframes btns {
	0% {
	    -webkit-transform: scale(1);;
	}
	50% {
	    -webkit-transform: scale(0.9);;
	}
	100% {
	    -webkit-transform: scale(1);;
	}
}
.pop_rule{ display: none;}
.mask{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0,0,0,.8); z-index: 3;}
#rule_close{ width: 8%; position: absolute; right: 10%; top: 10%; z-index: 100;}
#tab{ width:80%; position:absolute; z-index: 999; left: 10%; top: 20%; background: #fff; border-radius: 10px;}
#tab .tab_menu{ width:100%; display: flex;}
#tab .tab_menu li{ width:50%; height:44px; line-height:44px; font-size: 1rem; text-align:center; background: #ececec; color: #333;}
#tab .tab_menu .selected{ background: url(../img/btn_login.png) repeat-x; color: #fff;}
#tab .tab_menu li:first-child{ border-top-left-radius: 10px;}
#tab .tab_menu li:last-child{ border-top-right-radius: 10px;}
#tab .tab_box{ width:90%; padding: 2rem 5%; height: 13rem; overflow-y: scroll;}
.hide{display:none;}
#tab .tab_box .txt_popR{ font-size: 1rem; line-height: 1.4;}

/*游戏*/
.life_game{ width: 40%; margin: 0rem auto;}
.life_game ul{ width: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; height: 2.8rem;}
.icon_life{ width: 20px; height: 17px; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.icon_life1{ background: url(../img/icon_life.png) no-repeat; background-size: cover;}
.icon_life2{ background: url(../img/icon_life_d.png) no-repeat; background-size: cover;}

.time_game{ width: 4rem; height: 4rem; line-height: 4rem; margin: -2rem auto; border-radius: 50%; background: rgba(255,255,255,.5); text-align: center;}
.time_game p{ font-size: 2rem; color: #3897e7; font-family: myFont;}
.clouds{ position: relative; z-index: -1;}
.cloud{ width: 16%;}
.cloud1{ animation: cloudA 20s infinite; position: absolute; left: 0; margin-top: 1%;}
.cloud2{ animation: cloudB 20s infinite; position: absolute; left: 0; margin-top: 25%;}
.cloud3{ animation: cloudC 20s infinite; position: absolute; left: 0; margin-top: 50%;}
@keyframes cloudA
{
	0%   { left: 0;}
	100% { left: 80%;}
}
@keyframes cloudB
{
	0%   { left: 80%;}
	100% { left: 0;}
}
@keyframes cloudC
{
	0%   { left: 0%;}
	100% { left: 80%;}
}
.txt_game{ width: 90%; margin: 2rem auto; display: flex; justify-content: center;}
.txt_rubbish{ width: 275px; height: 170px; background: url(../img/bg_txt_game.png) no-repeat; background-size: cover; display: flex; justify-content: center; align-items: center; padding-top: 20px; color: #3897e7; font-size: 2rem;}
.con_ashcan{ width: 96%; margin: 0 auto; position: fixed; left: 2%; bottom: 2rem;}   

.ashcan_list{ width: 100%; display: flex; justify-content: space-between; align-items: baseline;}
.ashcan_list li{ width: 100px; height: 150px; display: flex; justify-content: center; align-items: baseline;}
.ashcan_list .ashcan{ display: block; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-size: cover; margin: 0 auto;} 
.ashcan_list .ashcan_1{ width: 90px; height: 134px; background:url(../img/ashcan_1.png) no-repeat; background-size: cover;}
.ashcan_list .ashcan_2{ width: 90px; height: 134px; background:url(../img/ashcan_2.png) no-repeat; background-size: cover;}
.ashcan_list .ashcan_3{ width: 90px; height: 134px; background:url(../img/ashcan_3.png) no-repeat; background-size: cover;}
.ashcan_list .ashcan_4{ width: 90px; height: 134px; background:url(../img/ashcan_4.png) no-repeat; background-size: cover;}
/*.ashcan_list .ashcan_1:hover{ width: 100px; height: 150px; background:url(../img/ashcan_1_r.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}*/
.ashcan_list .ashcan_2:hover{ width: 100px; height: 150px; background:url(../img/ashcan_2_w.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.ashcan_list .ashcan_3:hover{ width: 100px; height: 150px; background:url(../img/ashcan_3_r.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.ashcan_list .ashcan_4:hover{ width: 100px; height: 150px; background:url(../img/ashcan_4_w.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

/*得分弹出*/
.pop_score{ display: none;}
#score_close{ width: 8%; position: absolute; right: 10%; top: 7%; z-index: 1000;}
/*.content_pS{ display: none;}*/
.con_score{ width: 350px; height: 200px; position:absolute; z-index: 999; left: 50%; top: 6%; margin: 0 auto 0 -175px; background: url(../img/pop_scoreBg.png) no-repeat; background-size: cover; padding-top: 216px; text-align: center;}
.con_score p{ color: #fff; line-height: 1.6;}
.con_score .score_p1{ font-size: 1.2rem;}
.con_score .score_p1 span{ font-size: 1.6rem;}
.con_score .score_p2{ font-size: 1.1rem;}
.btns_popS{ width: 90%; position: absolute; z-index: 999; left: 5%; top: 85%; margin: 0 auto; height: 5rem;}
.btns_popS ul{ display: flex; justify-content: space-between;}
.btns_popS .btn_pS{ display: flex; justify-content: center; align-items: center; width: 100px; height: 43px; color: #fff; font-size: 1rem; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.btn_pS1{ background: url(../img/score_btn1.png) no-repeat;}
.btn_pS2{ background: url(../img/score_btn2.png) no-repeat;}
.btn_pS3{ background: url(../img/score_btn3.png) no-repeat;}

/*排行榜*/
.con_ranking{ width: 90%; margin: 0 auto; position: absolute; z-index: 999; left: 5%; top: 5%; display: none;}
#btn_back{ display: block; width: 40px; height: 41px; background: url(../img/arr_back.png) no-repeat; background-size: cover; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.title_ranking{ width: 58%; margin: -2rem auto 0; display: flex; justify-content: space-around; align-items: center;}
.avatar_rt{ width: 60px; height: 60px; border-radius: 50%; border: solid 2px #fff; overflow: hidden;}
.txt_rt{ color: #fff; font-size: 1rem;}
.list_rk{ width: 90%; margin: 1rem auto;}
.title_txt{ display: flex; justify-content: space-between; align-items: center; text-align: center; color: #fff; margin-bottom: 1.5rem;}
.title_txt p{ width: 25%; text-align: center; font-size: 1.2rem;}
.list_rk dl{ width:100%; height: 22rem; overflow-y: scroll;}
.list_rk dd{ display: flex; justify-content: space-between; align-items: center; text-align: center; color: #fff; margin-bottom: 1rem; font-size: 1rem;}
.list_rk dd .item_rp,.list_rk dd .item_ap{ width: 25%; text-align: center;}
.list_rk dd .item_rp img{ width: 30px; height: 24px;}
.list_rk dd .item_ap img{ width: 30px; height: 30px;}
.list_rk dd p{ width: 25%;}

/*分享*/
.con_share{ width: 100%; margin: 0 auto; position: absolute; z-index: 999; right: 5%; top: 5%; height: 100%; display: none;}
.icon_share{ width: 100%; text-align: right;}
.icon_share img{ width: 4rem;}
.con_share p{ color: #fff; font-size: 1.2rem; text-align: right; padding: 2rem 4rem 0 0;}
@media screen and (max-width: 414px){
    .btns_popS{ top: 80%;}
    .title_txt{ margin-bottom: 1rem;}
    .list_rk dl{ height: 28rem;}
   }
@media screen and (max-width: 375px){
    .btns_popS{ top: 85%;}
    .con_ashcan{ bottom: 1rem;} 
    .ashcan_list .ashcan_1,.ashcan_list .ashcan_2,.ashcan_list .ashcan_3,.ashcan_list .ashcan_4{ width: 80px; height: 120px;}
    .title_ranking{ width: 62%;} 
    .list_rk dl{ height: 22rem;}
}